:root {
  --control-border: #aaaaaa;
  --control-background: #fefefe;
}

body {
  margin: 0;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.application {
  flex: 1;
  display: flex;
}

.map {
  flex: 1;
}

.overlay-menu {
  position: fixed;
  top: 1rem;
  left: 1rem;
  /* padding: 0.5rem; */
  /* border: 1px var(--control-border) solid; */
  max-width: 300px;

  /* background: var(--control-background); */
}
